.Container {
    width: 100%;
    min-height: 100vh;
    background-color:#020418;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .HeroItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#D1C4E9;
    z-index: 1000;
  }
  
  .ImgContainer {
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  
  .ImgContainer > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .Icons {
    width: 100%;
    margin: 25px 0;
    display: flex;
    gap: 10px;
  }